*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(4, 30, 43);
    color: white;
    margin: 0 auto;
    

}

header{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1{
    font-family: austein;
    font-weight: normal;
    line-height: 18px;
}

.header-logo{
    width: 250px;
}

li{
    display: inline-block;
    margin: 10px;
    font-family: austein;
    font-weight: 50;
    font-size: 18px;
    
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    border-bottom: 3px solid orangered;
    transition: 100ms;
    padding: 10px;
}

.social{
    display: flex;
    flex-direction: column;
}

.pedido a{
    color: white;
    border: 3px solid rgb(255, 123, 0);
    margin: 5px;
    border-radius: 20px;
    padding: 15px;
}

.pedido a:hover{
    text-decoration: none;
    border: 3px solid rgb(255, 38, 0);
    padding: 15px;
    transition: 500ms;

}

.social img{
    width: 35px;
    margin: 5px;
}

main{
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

article{
    padding: 30px;
    background-color: antiquewhite;
    width: 50%;
}
aside{
    background-image: url(../img/bg.png);
    background-size: contain;
    /*background-color: yellow;*/
    width: 50%;
    height: 70vh;
}


footer{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgb(211, 114, 35),rgb(190, 68, 30));
    position: absolute;
    bottom: 0;
}